/*
$mainColor: white;
$mainColorText: black;
$mainColorTextHover: blue;
$compColor: #15023a;
$compColorText: white;
$compColorTextHover: #598405;
*/


$mainColor: #15023a;
$mainColorText: white;
$mainColorTextHover: #598405;
$compColor: #2b0e39;
$compColorText: white;
$compColorTextHover: #3a761d;
$secondaryColor:#0e3916;